jieba>=0.39
loguru
tqdm
pandas
tiktoken
langchain~=0.1.11
langchain-community~=0.0.27
langchain-openai~=0.0.8
langchain-experimental~=0.0.53
openai~=1.13.3

fastapi
loguru
uvicorn[standard]
pydantic==2.8.2
python-multipart
sse-starlette

flask
flask_cors

matplotlib
nbformat
statsmodels
python-docx
linearmodels
google-generativeai
aiofiles
chardet
zhipuai
sparkai-ai-python
qianfan
dashscope
anthropic
boto3
gitpython
gitignore-parser
semantic_kernel==0.4.3.dev0
nbclient
gymnasium
rank-bm25
ipython
python-socketio
python-jose
passlib[bcrypt]
uuid

requests
aiohttp
peewee
bcrypt

litellm==1.30.7
argon2-cffi
apscheduler

fake_useragent
chromadb
pypdf
docx2txt
#unstructured
markdown
pypandoc
pandas
openpyxl
pyxlsb
xlrd

PyJWT
pyjwt[crypto]

black

# search
#duckduckgo-search~=5.1.0

# online pdf
#pdf2image
#pillow_heif
#pytesseract
#pikepdf

# rag
text2vec

# agentica
agentica

gunicorn